body {
    font-family: 'Avenir Next';
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a {
    text-decoration:none;
}

a:link,
a:visited,
a:hover,
a:active {
    color:#000;
}

.mobile {
    display: block;
}
.desktop {
    display: none;
}

.nav {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-logo {
    margin: 0 auto 0 0;
}

.nav-logo img {
    display: block;
}

.nav-title {
    width: 51px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.nav-menu-icon {
    margin: 6px 5.86% 0 auto
}

.nav-menu {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 180px;
    height: 218px;
    background-color: #275ff8;
}

.menu-item {
    margin: 20px 0 0 20px;
    display: flex;
    align-items: center;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
}

.menu-item > span{
    margin:0 0 0 8px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bg {
    width: 100%;
}

.bg img {
    width: 100%;
    display: block;
}

.intro {
    position: absolute;
    top: 15%;
    margin: 0 0 0 5.33%;
}

.intro-title {
    height: 66px;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 auto 0 0;
}

.intro-content {
    margin: 18px auto 0 0;
    width: 355px;
    height: 72px;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
}

.line {
    width: 89px;
    height: 4px;
    background-color: #ffffff;
    margin: 44px auto 0 0;
}

.download {
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: row;
    margin: 0 5.33% 0 auto;
}

.download-txt {
    height: 19px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    margin: 0 0 0 8px;
}

.items {
    margin:-22px 0 0 0;
}

.item {
    width: 100%;
    height: 232px;
}

.item:nth-child(1),
.item:nth-child(3) {
    color: #ffffff;
}

.item-img {
    padding: 30px 0 0 7.46%;
}

.item-title {
    padding: 24px 0 0 7.46%;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.item-content {
    padding: 12px 0 0 7.46%;
    width: 320px;
    height: 72px;
    font-size: 14px;
    line-height: 1.71;
}

.item:nth-child(odd){
    background-color: #275ff8;
}

.footer {
    width: 100%;
    height: 169px;
    background-color: #1c1f2b;
    color: #fff;
}

.footer-copyright {
    font-size: 10px;
    color: #ffffff;
}

.footer-logo {
    padding: 30px 0 0 7.46%;
}

.footer-social {
    display: flex;
    padding: 22px 0 0 7.46%;
}

.footer-copyright {
    padding: 9px 0 0 7.46%;
}

.social {
    margin: 0 30px 0 0;
}

@media only screen and (min-width:961px){
    .mobile {
        display:none;
    }

    .desktop {
        display: block;
    }

    html, body
    {
        height: 100%;
    }

    .container {
        height: 100%;
    }

    .nav {
        justify-content: space-between;
        align-items: stretch;
    }

    .nav-logo {
        margin: 50px 0 0 7.15%;
    }

    .nav-menu {
        display: flex;
        z-index: 0;
        position: static;
        top: auto;
        right: auto;
        width: auto;
        height: auto;
        background-color: transparent;
        margin: 85px 7.15% 0 auto;
    }

    .menu-item {
        height: 25px;
        font-size: 18px;
        font-weight: bold;
        margin: 0 80px 0 0;
        color: #1a1a1a;
    }

    .menu-item > span{
        margin:0 0 0 10px;
    }

    .works{
        color: #999999;
    }

    .blogs,
    .contact,
    .lang{
        color: #fff;
    }

    .header {
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .bg {
        order: 2;
    }

    .bg img {
        width: auto;
        height: 100%;
        margin: 0 0 0 auto;
    }

    .intro {
        position: static;
        margin: 292px 0 0 7.15%;
        order: 1;
    }

    .intro-title {
        width: 589px;
        height: 137px;
        font-size: 100px;
        font-weight: bold;
        color: #1a1a1a;
        margin: 0px;
    }

    .intro-content {
        width: 620px;
        height: 48px;
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
    }

    .items {
        margin: 0px;
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 13.96%;
        width: 100%;
        opacity: 0.9;
        height: 275px;
    }

    .item:nth-child(2) {
        color: #ffffff;
        background-color: #275ff8;
    }

    .item {
        height: 275px;
        padding-left: 7.15%;
    }

    .item-img {
        padding: 0;
        margin: 44px 0 0 0px;
    }

    .item-title {
        padding: 0;
        margin: 33px 0 0 0px;
        width: 213px;
    }

    .item-content {
        padding: 0;
        margin: 12px 0 0 0px;
    }

    .footer {
        height: auto;
        background-color: transparent;
        position: absolute;
        bottom: 3.26%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .footer-social {
        margin: 0 0 0 7.15%;
        padding: 0;
    }

    .footer-copyright {
        padding: 0;
        height: 16px;
        font-size: 14px;
        color: #ffffff;
        margin: 0 7.15% 0 0;
    }
}
