<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SupermeZebra</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/font.css?{{ site.assetversion }}">
    <link rel="stylesheet" href="/assets/css/style.css?{{ site.assetversion }}">
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="nav-logo">
                <picture>
                    <source srcset="/assets/img/d-logo.png, /assets/img/d-logo@2x.png 2x" media="(min-width: 960px)">
                    <img src="/assets/img/logo.png" srcset="/assets/img/logo@2x.png 2x">
                </picture>
            </div>
            <div class="nav-title mobile">HOME</div>
            <div class="nav-menu-icon mobile"><img src="/assets/img/icon-menu.png" srcset="/assets/img/icon-menu@2x.png 2x"></div>
            <div class="nav-menu">
                <a href="/"><div class="menu-item index" {% if page.route == 'index' %} style="margin-left:10px"{% endif %}>{% if page.route == 'index' %}
                    <picture>
                        <source srcset="/assets/img/rectangle-34.png, /assets/img/rectangle-34@2x.png 2x" media="(min-width: 960px)">
                        <img src="/assets/img/icon-dian.png" srcset="/assets/img/icon-dian@2x.png 2x">
                    </picture>
                    {% endif %}<span>HOME</span></div></a>
                <a href="/works"><div class="menu-item works"><span>WORKS</span></div></a>
                <a href="/blogs"><div class="menu-item blogs"><span>BLOGS</span></div></a>
                <a href="/contact"><div class="menu-item contact"><span>CONTACT</span></div></a>
                <a href="/"><div class="menu-item lang"><span>CHINESE</span></div></a>
            </div>
        </div>
        <div class="header">
            <div class="bg">
                <picture>
                    <source srcset="/assets/img/d-bg.png, /assets/img/d-bg@2x.png 2x" media="(min-width: 960px)">
                    <img src="/assets/img/index-bg.png" srcset="/assets/img/index-bg@2x.png 2x">
                </picture>
            </div>
            <div class="intro">
                <div class="intro-title">Less is more</div>
                <div class="intro-content">Design is the possibility of pursuit of new. If lack of invention,the design loses its value if lack of creation,products lose their lives.</div>
                <div class="line mobile"></div>
            </div>
            <div class="download mobile">
                <div class="download-img"><img src="/assets/img/icon-download.png" srcset="/assets/img/icon-download@2x.png 2x" width="25px" height="13px"></div>
                <div class="download-txt">Save as desktop</div>
            </div>
        </div>
        <div class="items">
            <div class="item">
                <div class="item-img"><img src="/assets/img/icon-brand.png" srcset="/assets/img/icon-brand@2x.png 2x"></div>
                <div class="item-title">Branding Identity</div>
                <div class="item-content">Design is the possibility of pursuit of new.If lack of invention,the design loses its value
if lack of creation,products lose their lives.</div>
            </div>
            <div class="item">
                <div class="item-img">
                    <picture>
                        <source srcset="/assets/img/d-icon-ui.png, /assets/img/d-icon-ui@2x.png 2x" media="(min-width: 960px)">
                        <img src="/assets/img/icon-ui.png" srcset="/assets/img/icon-ui@2x.png 2x">
                    </picture>
                </div>
                <div class="item-title">UI&UE Design</div>
                <div class="item-content">Design is the possibility of pursuit of new.If lack of invention,
the design loses its value if lack of creation</div>
            </div>
            <div class="item">
                <div class="item-img"><img src="/assets/img/icon-illistration.png" srcset="/assets/img/icon-illistration@2x.png 2x"></div>
                <div class="item-title">Illustration</div>
                <div class="item-content">Design is the possibility of pursuit of new.If lack of invention,the design loses its value
if lack of creation,</div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $(".nav-menu-icon").click(function(){
            $(".nav-menu").show();
            $(".nav-title").hide();
        })
    })
    </script>
</body>
</html>
