<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SupermeZebra</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/font.css?{{ site.assetversion }}">
    <link rel="stylesheet" href="/assets/css/style.css?{{ site.assetversion }}">
    {% include work_style.html %}
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="nav-logo">
                <picture>
                    <source srcset="/assets/img/logo-w.png, /assets/img/logo-w@2x.png 2x" media="(min-width: 960px)">
                    <img src="/assets/img/logo.png" srcset="/assets/img/logo@2x.png 2x">
                </picture>
            </div>
            <div class="nav-title mobile"><span>WORKS</span><img src="/assets/img/icon-more.png" srcset="/assets/img/icon-more@2x.png 2x" width="12px" height="8px"></div>
            <div class="nav-menu-icon mobile"><img src="/assets/img/icon-menu-black.png" srcset="/assets/img/icon-menu-black@2x.png 2x"></div>
            <div class="nav-menu">
                <a href="/"><div class="menu-item index" {% if page.route == 'index' %} style="margin-left:10px"{% endif %}>{% if page.route == 'index' %}
                    <picture>
                        <source srcset="/assets/img/rectangle-34.png, /assets/img/rectangle-34@2x.png 2x" media="(min-width: 960px)">
                        <img src="/assets/img/icon-dian.png" srcset="/assets/img/icon-dian@2x.png 2x">
                    </picture>
                    {% endif %}<span>HOME</span></div></a>
                <a href="/works"><div class="menu-item works" {% if page.route == 'works' %} style="margin-left:10px"{% endif %}>{% if page.route == 'works' %}
                    <picture>
                        <source srcset="/assets/img/rectangle-34.png, /assets/img/rectangle-34@2x.png 2x" media="(min-width: 960px)">
                        <img src="/assets/img/icon-dian.png" srcset="/assets/img/icon-dian@2x.png 2x">
                    </picture>
                    {% endif %}<span>WORKS</span></div></a>
                <a href="/blogs"><div class="menu-item blogs"><span>BLOGS</span></div></a>
                <a href="/contact"><div class="menu-item contact-menu"><span>CONTACT</span></div></a>
                <a href="/"><div class="menu-item lang"><span>CHINESE</span></div></a>
            </div>
            <div class="categorys">
                <div class="category"><img src="/assets/img/rectangle-34.png" srcset="/assets/img/rectangle-34@2x.png 2x" class="desktop"><span>All</span></div>
                <div class="category">Branding</div>
                <div class="category">Web</div>
                <div class="category">App</div>
                <div class="category">Illustration</div>
            </div>
        </div>

        <div class="title">
            <div class="title-img">
            <picture>
                <source srcset="/assets/img/combined-shape.png, /assets/img/combined-shape@2x.png 2x" media="(min-width: 960px)">
                <img src="/assets/img/banner-3.png" srcset="/assets/img/banner-3@2x.png 2x">
            </picture>
            </div>
            <p class="desktop">CHIC MOMENT BRANDING INDENTITY DESIGN <br /><span>2018.01.01 By Areswen</span></p>
        </div>
        <div class="contents">
            <div class="contents-intro">Introduction</div>
            <div class="content">
                <p>Simple and clear is the most concise and intuitive way to achieve effective visual communication andcommunication, and reject all unrealistic symbolic meanings and so-called connotations.</p>
                <div class="content-img"><img src="/assets/img/banner-5.png" srcset="/assets/img/banner-5@2x.png 2x"></div>
                <p>Simple and clear is the most concise and intuitive way to achieve effective visual communication andcommunication, and reject all unrealistic symbolic meanings and so-called connotations.Simple and clear is the most concise and intuitive way to achieve effective visual communication andcommunication, and reject all unrealistic symbolic meanings and so-called connotations.</p>
                <p>Simple and clear is the most concise and intuitive way to achieve effective visual communication andcommunication, and reject all unrealistic symbolic meanings and so-called connotations.</p>
            </div>
        </div>
        <div class="line-parent">
            <div class="line"></div>
        </div>
        <div class="contact">
            <div class="contact-title">Get in Touch</div>
            <p>We use the most professional design to achieve your best ideas. Fill out the form and send it to: <span>service@zebra.com</span>. Let's go further.</p>
            <p>Also welcome to call the enquiry hotline: <span>17600884889</span>.</p>
            <div class="form">
                <div><input name="" placeholder="Name *"/></div>
                <div><input name="" placeholder="Phone Number *"/></div>
                <div><input name="" placeholder="Email Address *"/></div>
                <div><textarea>Cooperation Content</textarea></div>
                <div><button>SEND EMAIL</button></div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $(".nav-menu-icon").click(function(){
            $(".nav-menu").show();
            $(".nav-title").hide();
        })
        $(".nav-title").click(function(){
            $(".categorys").toggle();
        })
    })
    </script>
</body>
</html>
